.Run-button
{
  font-family: "Teko", arial;
  font-size: 2.5rem;
  width: 9rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: #FF4500;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  padding-left: 1.5rem;
  border:#714412 1px solid;
}

#run-button-svg
{
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}


.Run-button:hover
{
  background-color: #9e621d;
  border-color:#e7e0d7;
}
