.work-area
{
  display: flex;
  height: 35rem;
  /* width: 100%; */
  padding: 0rem 2rem;
  box-sizing: border-box;
  /*flex-wrap: wrap;*/
}

textarea
{
  font-size: 1.5rem;
  min-width: 15.6rem;
  background-color:#000;
  border-radius: 1rem;
  border-color: #FF4500;
  height: 100%;
  width: calc(100% - 15.6rem);
  resize: none;
  margin: 2rem;
  margin-right: 0rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  box-sizing: border-box;
}
